# Automatically build the project and run any configured tests for every push
# and submitted pull request. This can help catch issues that only occur on
# certain platforms or Java versions, and provides a first line of defence
# against bad commits.

name: build-Release
on: [workflow_dispatch]
permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
      - name: validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v4
      - name: setup jdk
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'microsoft'
      - name: make gradle wrapper executable
        run: chmod +x ./gradlew
      - name: build
        run: ./gradlew build
      - name: capture build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: build/libs/
      - name: Read changelog file
        id: read-changelog
        run: |
          CHANGELOG=$(cat CHANGELOG.md)
          CHANGELOG="${CHANGELOG//'%0A'/$'\n'}"
          CHANGELOG="${CHANGELOG//'%0D'/$'\r'}"
          CHANGELOG="${CHANGELOG//'%25'/'%'}"
          echo "DECODED_CHANGELOG<<EOF" >> $GITHUB_OUTPUT
          echo "$CHANGELOG" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Upload artifacts to Modrinth and GitHub
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          modrinth-id: X4NrtXN1
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}
          modrinth-featured: true

          github-token: ${{ secrets.GITHUB_TOKEN }}
          changelog-file: changelog.md
          changelog: ${{ steps.read-changelog.outputs.DECODED_CHANGELOG }}
          files: build/libs/!(*-@(dev|sources|all)).jar
          version-type: release
          loaders: fabric quilt
          game-version-filter: releases